<!DOCTYPE html>
<html lang="kor">
    <head>
        <%- include('common/head') %>
    </head>
    <body>
        <header>
            <%- include('common/navbar') %>
        </header>
        <div class = "signmodal">

        </div>
        
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>복잡한 취업준비 자료 정리를 한번에!</h1>
                <p class="lead">기업별 자소서 문항, 유형, 연도별 정렬을 손쉽게 확인하는 기능</p>
                <p>closed v 0.0</p>
            </div>
        </div>
        <%- include('common/jsinclude') %>
    </body>
</html>