<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('common/head') %>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <%- include('common/navbar') %>
    </header>
    <div class = "login_wrapper" style = "display:flex">
        <div class="login">
            <div class="login__content">
                <div class="login__img">
                    <img src="https://image.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg" alt="user login">
                    
                </div>
            </div>
        </div>
        <div class="login_tem">
            Login
        </div>
    </div>


</body>
</html>