<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('common/head') %>
</head>
<body>
    <header>
        <%- include('common/navbar') %>
    </header>
    <div class = "loginmain">
        
    </div>
</body>
</html>