<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">자소설</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="https://inthiswork.com/" target="_blank">모집공고</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">취준 모음</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">자소서</a></li>
                        <li><a class="dropdown-item" href="#">포트폴리오</a></li>
                        <li><a class="dropdown-item" href="#">이력서</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">증명서류</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link cd-signin" href="/signin"><b>로그인</b></a></li>
                <li class="nav-item"><a class="nav-link cd-signup" href="/signup"><b>회원가입</b></a></li>
            </ul>
        </div>
    </div>
</nav>
